{% extends 'base.html.twig' %}


{% block body %}
<a class="btn btn-default" href="/"> Back to klienci</a>
<h2 class="page-header">{{users.id}}</h2>
<h5 class="page-header">Skrócona nazwa: {{users.email}}</h5>
<ul class="list-group">



{% endblock %}