{% extends 'base.html.twig' %}


{% block body %}

<h2 class="page-header">Panel zarządzania klientami</h2>
<table class="table table-striped"> 	
<thead> 
<tr> 
<th>Symbol</th> 
<th>Nazwa</th> 
<th></th>
</tr> 
</thead> 
<tbody> 
<tr> 

{% for a in customer_types %}
<th scope="row">{{a.id}}</th> 
<th scope="row">{{a.name}}</th> 

<td>
<a href="customer_type/delete/{{a.id}}" class="btn btn-danger">Skasuj</a>
</td>
</tr> 
<tr> 
{% endfor %}
</tbody> 
</table>

<a href="{{ path('customer_type_create')}}" class="btn btn-success">Dodaj</a>

    
{% endblock %}