{% extends 'base.html.twig' %}


{% block body %}

    <span> Witaj</span>
    Jest to system zarządzania treścią i tu powinien się znajdować panel zarzadzania. 

    
    <BR><BR><BR>
    <a href=" {{ path('zarzadzaj')}} ">zarzadzaj</a>
{% endblock %}